#container {
    width: 500px;
    margin: 0 auto;
    background: gray;
    border: 1px solid gray;
}

#container-input-place {
    width: 100%;
    height: 80px;
    background: white;
    padding: 10px;
    box-sizing: border-box;
    text-align: right;
    font-weight: bold;
    font-size: 24px;
    border: 1px solid gray;
}

#operations {
    width: 100%;
    height: 30px;
    color: lightgray;
    font-size: 16px;
}

#input-place {
    width: 100%;
    height: 50px;
}

#buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    width: 25%;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}

button#zero {
    width: 50%;
}

button#clean  {
    width: 25%;
}

button#slice  {
    width: 25%;
}

button#result  {
    width: 50%;
}
